:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  /*(paragraphs)*/
  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  /*(background, headings, buttons)*/
  --Very-light-gray: hsl(0, 0%, 95%);
  --font-display: "Lexend Deca", sans-serif;
  --font-deca: "Lexend Deca", sans-serif;
}

body {
  font-size: 0.95rem;
  background-color: var(--Very-light-gray);
  height: 100vh;
}

.container {
  width: 90%;
  height: 100vh;
  margin: 1em auto 1em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 3;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (360px)[3];
      grid-template-rows: repeat(3, 360px);
  margin-bottom: 20px;
  text-align: left;
  justify-items: center;
}

@media (min-width: 1024px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cards {
    -ms-grid-columns: (307px)[3];
        grid-template-columns: repeat(3, 307px);
    -ms-grid-rows: 400px;
        grid-template-rows: 400px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card .card-text {
    font-size: 1rem;
    width: 100%;
  }
  .card .btn {
    width: 100% !important;
  }
}

.card {
  padding: 30px 39px 30px 25px;
}

.card .card-icon {
  width: 40px;
  height: 40px;
}

.card .card-icon img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .card-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: var(--Very-light-gray);
  font-weight: 700;
  font-family: var(--font-display);
}

.card .card-text {
  color: var(--Very-light-gray);
  font-family: var(--font-deca);
  line-height: 27px;
  width: 243px;
  max-width: 400px;
}

.card .btn {
  width: 40%;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: var(--Very-light-gray);
  font-family: var(--font-display);
  font-size: 1.1rem;
}

.item-1 {
  background-color: var(--Bright-orange);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.item-1 .btn {
  color: var(--Bright-orange);
}

@media (min-width: 1024px) {
  .item-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }
}

.item-2 {
  background-color: var(--Dark-cyan);
}

.item-2 .btn {
  color: var(--Dark-cyan);
}

@media (min-width: 1024px) {
  .item-2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .item-2 .card-text {
    padding: 0;
  }
}

.item-3 {
  background-color: var(--Very-dark-cyan);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.item-3 .btn {
  color: var(--Very-dark-cyan);
}

@media (min-width: 1024px) {
  .item-3 {
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
  }
}
/*# sourceMappingURL=style.css.map */