:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  /*(paragraphs)*/
  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  /*(background, headings, buttons)*/
  --Very-light-gray: hsl(0, 0%, 95%);
  --font-display: "Lexend Deca", sans-serif;
  --font-deca: "Lexend Deca", sans-serif;
}
body {
  font-size: 0.95rem;
  background-color: var(--Very-light-gray);
  height: 100vh;
}
.container {
  width: 90%;
  height: 100vh;
  margin: 1em auto 1em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards {
  width: 100%;
  display: grid;
  grid-auto-columns: 3;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 360px);
  margin-bottom: 20px;
  text-align: left;
  justify-items: center;
}
@media (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cards {
    grid-template-columns: repeat(3, 307px);
    grid-template-rows: 400px;
    justify-content: center;
  }
  .card {
    .card-text {
      font-size: 1rem;
      width: 100%;
    }
    .btn {
      width: 100% !important;
    }
  }
}
.card {
  padding: 30px 39px 30px 25px;
  .card-icon {
    width: 40px;
    height: 40px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .card-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--Very-light-gray);
    font-weight: 700;
    font-family: var(--font-display);
  }
  .card-text {
    color: var(--Very-light-gray);
    font-family: var(--font-deca);
    line-height: 27px;
    width: 243px;
    max-width: 400px;
  }
  .btn {
    width: 40%;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: var(--Very-light-gray);
    font-family: var(--font-display);
    font-size: 1.1rem;
  }
}

.item-1 {
  background-color: var(--Bright-orange);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  .btn{
    color: var(--Bright-orange);
  }
}
@media (min-width: 1024px) {
  .item-1 {
    grid-column: 1/2;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }
}
.item-2 {
  background-color: var(--Dark-cyan);
  .btn{
    color: var(--Dark-cyan);
  }
}
@media (min-width: 1024px) {
  .item-2 {
    grid-column: 2 / 3;
    .card-text {
      padding: 0;
    }
  }
}
.item-3 {
  background-color: var(--Very-dark-cyan);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  .btn{
    color: var(--Very-dark-cyan);
  }
}
@media (min-width: 1024px) {
  .item-3 {
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
  }
}
